<!DOCTYPE html>
<html>
  <head>
    <title>{{company_name}} Login Page</title>
    <h1>{{company_name}} Attendance </h1>
  </head>
  <body>
    <form action = "showvalue" method = "post">
      
       <div>
{% for jobs in jobs %} 
<div>{{jobs['Id']}}</div>
<div>{{jobs['Name_']}}</div>
         <div></div>
{% endfor %}
         
      </div>
    <div class="mb-2">
      <label> Enter ID </label><br>
      <input type ="text" name="Full_name" placeholder = "user ID">
    </div>
<div class="mb-4"><br>
      <input type="submit">
</div>   
     
     </form>
  </body>
</html>
